[submodule "deps/serum-dex"]
	path = deps/serum-dex
	url = https://github.com/project-serum/serum-dex
[submodule "deps/anchor-amm"]
	path = deps/anchor-amm
	url = https://github.com/vyper-protocol/anchor-amm
